//- doctype html 
//- p= `Numbers Result : 1+2+3+...+${dataResult[0]} = ${dataResult[1]}`
html(lang="zh-Hant-TW")
    head
        title Week 3_Assingments_DataPage
    body
        header 
            if dataResult[2] == 0
                h3= `Numbers Result : 1+2+3+...+${dataResult[0]}=`
                h3= dataResult[1]
            else if dataResult[2] == 2
                h1= dataResult[1]
            else 
                h1= dataResult[1]
        footer 
            p 
